{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
Player detail
{% endblock %}

{% block my_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/PLAYERS.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ player.name }}</h1>
                    <span class="subheading">Detalles del jugador</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'players:player-add' %}">Incluir nuevo jugador</a>
    </div>
</header>
{% endblock %}


{% block my_blog_content %}
<!-- Post preview-->
<div class="post-preview">
    <center>
        <h1 class="post-title">{{ player.name }} {{ player.last_name }}</h3>
    </center>
    <h3 class="post-subtitle">Equipo: {{ player.team }}</h3>
    <h3 class="post-subtitle">Número: {{ player.number }}</h3>
    <h3 class="post-subtitle">Posición: {{ player.position }}</h3>
    <p class="post-meta">
        Creado por
        <span style="color: #0b4956;" href="">{{ player.owner.username }}</span>
        ( {{ player.created_at }} )
        <br>
        Última fecha de actualización ( {{ player.updated_at }} )
    </p>
    

    <!-- Update-Delete link only for the owner -->
    {% if user == course.owner or user.is_superuser %}
        <p style="text-align: center">
            <a href="{% url 'players:player-update' player.id %}">
                <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar
            </a>
            &ensp; | &ensp;
            <a href="{% url 'players:player-delete' player.id %}">
                    <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar
            </a>
        </p>
    {% endif %}

    <!-- Divider-->
    <hr class="my-4" />

    <!-- Comment creation -->
    <form method="POST" action="{% url 'players:comment-create' player.id %}">
        {% csrf_token %}
        {{ comment_form }}
    <input type="submit" value="Publicar comentario">
    </form>
    {% if not comments %}
        <p></p>
    {% endif %}

    <!-- Comments list -->
    {% for comment in comments %}
        <p> {{ comment.text }}
            ({{ comment.owner.username }} | {{ comment.updated_at }})
            {% if user == comment.owner or user.is_superuser %}
            <a href="{% url 'players:comment-delete' comment.id %}"><i class="fa fa-trash" style="color: #881a1a;"></i></a>
            {% endif %}
        </p>
    {% endfor %}


</div>
{% endblock %}