{% extends "home/index.html" %}
{% load static %}

{% block my_blog_title %}
federation delete
{% endblock %}

{% block my_blog_header %}
    <header class="masthead" style="background-image: url('/static/home/assets/img/FIFA.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-15 col-lg-16 col-xl-14">
                    <div class="site-heading">
                        <h1>Eliminar federación</h1>
                        <span class="subheading">My blog CoderHouse</span>
                    </div>
                </div>
            </div>
            <a class="button_custom" href="{% url 'federations:federation-add' %}">Incluir</a>
        </div>
    </header>
{% endblock %}


{% block my_blog_content %}

<h1>Estás seguro de eliminar la federación: {{ federation.name }}?</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Si, eliminar.">
    <a class="btn btn-primary" href="{% url 'federations:federations-list' %}" >Cancelar</a>
</form>

{% endblock %}
